.Header{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-between; 
    padding: 30px;
    border: 30px;
    text-align: center;
    font-size: 24px;
    padding-left: 80px;
    padding-right: 80px;
}


.links{
    display: flex;
    justify-content: flex-end; 
    color: #E5E7EB;
    gap: 30px;
    font-size: 18px;
}


.Main{
    display: flex;
    background-color:#1F2937 ;
    color: #F9FAF8;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
    gap: 300px;
}

.first1{
    font-weight: 900;
    font-size: 48px;
}

.First{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

.img-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;

}

.button{
    background-color: #3882f6;
    color: white;
    width: 80px;
    border-color:#3882f6 ;
    border-radius: 5px;
    font-size: 10px;
}

