body{
    font-family: sans-serif;
}
.Header{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-between; 
    padding: 30px;
    border: 30px;
    text-align: center;
    font-size: 24px;
    padding-left: 80px;
    padding-right: 80px;
}


.links{
    display: flex;
    justify-content: flex-end; 
    color: #E5E7EB;
    gap: 30px;
    font-size: 18px;
}


.Main{
    display: flex;
    background-color:#1F2937 ;
    color: #F9FAF8;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
    gap: 150px;
}

.first1{
    font-weight: 900;
    font-size: 48px;
}

.First{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

.img-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:gray;
    width: 550px;
    height: 200px;
    color: #E5E7EB;

}

.button{
    background-color: #3882f6;
    color: white;
    width: 80px;
    border-color:#3882f6 ;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bolder;
    height: 30px;
}


.second_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 36px;
}

.all-squares{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.squares{
    border-style: groove; 
    border-color: #3882f6 ;
    color: white;
    height: 110px;
    width: 120px;
    border-radius: 10px;
    border-width: 3px ;

}

.Second{
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    padding-bottom:80px;
    height: 280px;
}

.all-sub-text{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.sub-text{
    display: flex;
    flex-direction: row;
    width: 158px;
    height: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: gray;
} 

.box-and-title{
    display: flex;
    flex-direction: column;
    gap:40px;
}

.Third{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height:350px;
    justify-content: center;
    align-items: center;
}

.Thors-quote{
    width: 760px;
    font-size: 36px;
    color: rgb(80, 77, 77);
    font-style: italic;
    font-weight: 100;
    
}

.Thors-signer{
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    padding-left: 510px;
}


.Fourth{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.Blue-box{
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    border-radius: 5px;
    width: 900px;
    padding:50px;
    gap: 220px;
}

.Both-text{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    color: white;
}

.Bolder-text{
    font-weight: bold;
    font-size: larger;
}

.Smaller-text{
    color: #E5E7EB;
}

.other-button{
    border-radius: 5px;
    width: 100px;
    background-color:#3882f6 ;
    color: white;
    border: solid white;
    height: 30px;
    margin-top: 12px;
}


.Footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;

}